* -text
Config/*.ini text=auto eol=native
**/Config/*.ini text=auto eol=native
*.json text=auto eol=native
*.csv text=auto eol=native
*.md text=auto eol=native
*.txt text=auto eol=native
.gitattributes text=auto eol=native
.gitignore text=auto eol=native
LICENSE text=auto eol=native

*.h text=auto eol=native
*.cs text=auto eol=native
*.cpp text=auto eol=native

*.uplugin text=auto eol=native
*.uproject text=auto eol=native

*.uasset !text !filter !merge !diff
*.fbx !text !filter !merge !diff
*.png !text !filter !merge !diff
*.mp3 !text !filter !merge !diff
*.wav !text !filter !merge !diff
*.xcf !text !filter !merge !diff
*.jpg !text !filter !merge !diff
**/*.umap !text !filter !merge !diff
*.umap !text !filter !merge !diff
